* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  background: rgb(74, 80, 76) !important;
}

.employees-h1 {
  color: white !important;
}

.fitcontent {
  width: fit-content !important;
}

.cards-width {
  width: 50% !important;
}

@media screen and (max-width: 715px) {
  .cards-width {
    width: 100% !important;
  }

  .cards-rows {
    padding-bottom: 30px !important;
  }
}

@media screen and (min-width: 716px) {
  .cards-width {
    width: 50% !important;
  }

  .cards-rows {
    padding-bottom: 30px !important;
  }
}

@media screen and (min-width: 1024px) {
  .cards-width {
    width: calc(100% / 2) !important;
  }

  .cards-rows {
    padding-bottom: 30px !important;
  }
}

.loading-screen-container {
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 2rem;
  text-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

.employees-container {
  padding-top: 30px;
}

.card-img {
  height: 300px;
}
